/*the class called container
any class with the name container would have these properties.*/
.container { position:relative; padding:0 0 0 55px; }

/*class for drop down menu*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	float:left;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*this is the css for the side bar
the image is selected here
the repeat is set for the image along the y axis only
the width is set to 100 pixels

for the positioning please read more on absolute and the propoties
top bottom left*/
#sidebar {
    position:absolute;
    top:0; 
    bottom:0; 
    left:0;
    width:100px;
    background: url("images/maxresdefault.jpg");
    background-repeat: repeat-y; 
}

/*the width and height for the header is set here 
the image used and the stretching of the image 
and set it not to repeat*/
#header { 
	width:700px; height:300px;
    background: url("images/WOD.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#content { 
	width:700px; height:100%;
}

#document{
	width: 700px;
	float: left;
	height: 100%;
	background-color: Green;
	margin-left: auto;
	margin-right: auto;
}

#download{
	width: 300px;
	height: 100px;
	margin: 15px;
	border: 2px solid red;
	text-align: right;
}

#yoda{
	float:left;
	margin: 15px;
	border:2px solid white;
	width: 300px;
	height:100px;
}


#page{
	background: url("images/yo.jpg");
	background-size: 700px 300px;
	background-repeat: repeat-y; 	
	width: 700px;
	height: 300px;
}


#kway{
	background-color: black;
}


#curl{
	position: fixed;
    bottom: 80px;
    left: 0;
   	width: 300px;
    height: 213px;
}

#tv{
	width: 300px;
    margin-left: -298px;
}

p{
	font-size: 160%;
	width:600px;
}

header{
	background-image: url("images/imgres.jpg");
	background-repeat: no-repeat;
	width: 700px;
	height: 300px;
	background-size: 700px 300px;

}


aside{
	width: 100px;
	height: 950px;
}


aside{
	float: right;
	width: 100px;
	min-height: 310px;
    background: url("images/sai.jpg")
}

body{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	text-align: center;
	background-color: silver;
}

video{
	float: left;
	width: 300px;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul li {
  	display: block;
  	position: relative;
  	float: left;
}

li ul {
  	display: none;
}

ul li a {
  	display: block;
  	background: #000;
  	padding: 5px 10px 5px 10px;
  	text-decoration: none;
    white-space: nowrap;
    color: #fff;
}

ul li a:hover {
  	background: #f00;
}

li:hover ul {
  	display: block;
  	position: absolute;
}

li:hover li {
  	float: none;
}

li:hover a {
  	background: #f00;
}

li:hover li a:hover {
  	background: #000;
}