
#redstone{i dont see them in the web assignment folder

hey are there now in the web assignment folder
	width: 750px;
	float: left;
	height: 100%;
	background-color: Green;
	margin-left: auto;
	margin-right: auto;
}

#yoda{
	float:left;
	margin: 15px;
	border:2px solid white;
	width: 300px;
	height:100px;
}

#par{
	margin-top: 10px;

}

#page{
	background: url("images/yo.jpg");
	background-size: 700px 300px;
	background-repeat: repeat-y; 	
	width: 700px;
	height: 300px;
}


#kway{
	background-color: black;
}


#curl{
	position: fixed;
    bottom: 80px;
    left: 0;
   	width: 300px;
    height: 213px;
}

#tv{
	width: 300px;
    margin-left: -298px;
}

p{
	font-size: 160%;
	width:600px;
}

header{
	background-image: url("images/imgres.jpg");
	background-repeat: no-repeat;
	width: 700px;
	height: 300px;
	background-size: 700px 300px;

}


aside{
	width: 100px;
	height: 950px;
}


aside{
	float: right;
	width: 100px;
	min-height: 310px;
    background: url("images/sai.jpg")
}
body{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	text-align: center;
	background-color: silver;
}

video{
	float: left;
	width: 300px;
}

ul {list-style: none;
	padding: 0px;
	margin: 0px;
}

ul li {
  	display: block;
  	position: relative;
  	float: left;
  	
}

li ul {
  	display: none;
}

ul li a {
  	display: block;
  	background: #000;
  	padding: 5px 10px 5px 10px;
  	text-decoration: none;
    white-space: nowrap;
    color: #fff;
}

ul li a:hover {
  	background: #f00;
}

li:hover ul {
  	display: block;
  	position: absolute;
}

li:hover li {
  	float: none;
}

li:hover a {
  	background: #f00;
}

li:hover li a:hover {
  	background: #000;
}